@font-face {
  font-family: 'Helvetica';
  src: local('Pragmatica-ExtraLight'),
    url('./assets/fonts/Pragmatica-ExtraLight.ttf') format('truetype');
}

:root {
  font-family: Helvetica;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
